/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1250px;
    /* background: gray;  */
    margin: 2% auto;
    padding-bottom: 8%;
    padding-top: 1%; 
}
 
p {
    font-size: 20px;
    padding-top: 5%;
}
.bg  {
    background-image: url(../img\ 6/jumbo.png);
    height: 67vh;
     background-size: cover; 
     
}

/* BOTTOM */
button{
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 50px;
}

/* HEADER SECTION */
header{
    text-align: center;  
}
/* logo */
.logo-discord{
     vertical-align: middle;  
}
/* sezione nav */
.main-menù {
    display: inline-block;
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;  
}
.main-menù ul li  {
    display: inline-block;
    padding: 0 13px;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}

/* MAIN SECTION */
.container-2{
    width: 766px;
  /*   background: blue; */
    margin-top: 7%;
    margin-left: 19%;
    padding: 0%;
}

/* section text */
.text  {
    text-align: center;
}
h1 {
    font-size:50px ;
}
/* section buttom */
.button-section{
    padding-top: 3%;
    margin-left: 104px;
    
}
.button-1, .button-2{
    margin-right: 10px;
    padding: 12px 40px;
    font-size: 20px;

}